#root {
    margin: 0 .5rem 0;

    .collection-page {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 7rem;

        .collection-item {
            border-radius: 5px;
            margin: 0.4rem;
            box-shadow: 0 0 1px 1px;

            i {
                position: absolute;
                padding: 0.2rem;
                cursor: pointer;
            }

            &__container {
                height: 100%;
                display: grid;
                grid-template-columns: 5rem 10rem;
                grid-template-rows: 1fr 1fr 1fr;
                overflow: hidden;
                grid-template-areas:
                    "code name"
                    "code nominal"
                    "code values";

                .char-code {
                    grid-area: code;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    padding: 0 0.3rem 0;
                }

                .name {
                    grid-area: name;
                }

                .nominal {
                    grid-area: nominal;
                }

                .values {
                    grid-area: values;
                }

                .grow {
                    color: green;
                }

                .fall {
                    color: red;
                }

                .center {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
